body {
  margin: 0;
  background-color: #696969;
  font-size: 25px;
}
a {
  color:#FFFAFA;
  text-decoration: none;
}
h1 {
  font-size: 70px;
  text-align: center;
  border-bottom: 10px solid gray;
  margin: 0;
  padding: 20px;
}
h2 {
  color:#A9A9A9;
}
ol {
  color:#FFFAFA;
  border-right: 10px solid gray;
  width: 120px;
  margin: 0;
  padding: 20px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol {
  padding-left: 40px;
}
#article {
  padding-left: 50px;
}
@media(max-width: 640px){
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
